/build
/.idea
*.iml
.DS_Store
local.properties
release.properties
*.releaseBackup
catalina.base_IS_UNDEFINED/
.project
.settings/
target/classes/
target/generated-sources/
target/maven*
target/surefire/


