<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="root" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="dubbotest.txt"/>
        <param name="DatePattern" value="yyyy-MM'.txt'"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n"/>
        </layout>
    </appender>

    <logger name="tools.dubbotest" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="root"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="root"/>
    </root>
</log4j:configuration>